<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Connect With Us</h3>
          <ul>
            <li><a href="contact.html">Contact Support</a></li>
            <li><a href="find-library.html">Find a Music Library</a></li>
            <li><a href="volunteer.html">Volunteer Opportunities</a></li>
            <li><a href="newsletter.html">Join Our Newsletter</a></li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Organization</h3>
          <ul>
            <li><a href="about.html">About Music Wonder</a></li>
            <li><a href="mission.html">Our Mission & Vision</a></li>
            <li><a href="team.html">Leadership & Team</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Support the Movement</h3>
          <ul>
            <li><a href="donate.html">Donate Instruments</a></li>
            <li><a href="fundraising.html">Fundraising Initiatives</a></li>
            <li><a href="partnerships.html">Partnership Opportunities</a></li>
            <li><a href="sponsor.html">Become a Sponsor</a></li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Learning & Resources</h3>
          <ul>
            <li><a href="resources.html">Music Education Resources</a></li>
            <li><a href="tutorials.html">Instrument Tutorials</a></li>
            <li><a href="events.html">Workshops & Events</a></li>
            <li><a href="community-stories.html">Community Stories</a></li>
          </ul>
        </div>
      </div>

      <!-- Social Icons (unchanged and optional to include here) -->
      <div class="footer-social text-center mt-4">
        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
